<footer class="footer bg-light text-muted text-end">
    <div class="container">
          {% for link in site.data.footerlinks %}
                  {% if link.type == "email" %}
                      <a href="mailto: {{ link.url }}">{{ link.title }}</a>
                  {% else %}
                      <a href="{{ link.url }}">{{ link.title }}</a>
                  {% endif %}
          {% endfor %}
      <div class="text-center">
          {{ site.time | date: "%Y" }} {{ site.title }}
      </div>
    </div>
</footer>

<!-- Javascript for bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.js" integrity="sha256-IrEwgwFBWa3kUOm8+TXmylcQ4oUJn58Iy5V7K39TnT0=" crossorigin="anonymous"></script>
