<footer class="footer bg-light text-muted">
    <div class="container">
        <div class="text-end pt-3 pb-1">
            <a href="#">Back to top</a>
        </div>
        <ul class="text-center mb-2 p-0">
            {% for link in site.data.footerlinks %}
                <li class="nav-item d-inline-block">
                    {% if link.type == "email" %}
                        <a class="nav-link" href="mailto: {{ link.url }}">{{ link.title }}</a>
                    {% else %}
                        <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="text-center mb-3 text-muted">
            {{ site.time | date: "%Y" }} {{ site.title }}
        </div>
    </div>
</footer>

<!-- Javascript for bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>